**/__pycache__/
*.egg-info

*.cursor
*.cursorrules
logs/**
.vscode/**
.git_info/**
outputs/**
wandb/**
assets/**
agile/data/policy/eval/**
agile/rl_env/assets/unitree_description/
agile/rl_env/assets/unitree_mujoco/

**/exported/**

*IO_descriptors.yaml

fallen_states_cache/
motions/*.npz

.venv/
uv.lock

docs/build/

CLAUDE.md
